/* Google Fonts import */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
/* CSS Variables */
:root {
    --primary-font: "Lato", sans-serif;
    --secondary-font: "Roboto", sans-serif;
    --primary-color: #2C3E50; /* Deep Indigo */
    --secondary-color: #1ABC9C; /* Teal Blue */
    --background-color: #F9FAFB; /* Soft White */
    --body-color: #416a8e; /* blue */
    --highlight-color-light: #7a9fc2; /* light blue */
}


/* Asterisk wildcardto override default styles added by the browser */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


/* General styles */
body {
    min-height: 100vh;
    /* Generic project styles */
    color: var(--primary-color);
    font-family: var(--secondary-font);
    background-color:var(--body-color);
    
}

h1,h2,h3{
    font-family: var(--primary-font);
    color:var(--primary-color);

}

h1{
    text-transform:uppercase;
    letter-spacing: 2px;
    font-size:medium;
}

.navigation{
    background-color: var(--background-color);
    padding: 0 1rem 20px;
    position: fixed;
    z-index:99;
    width: 100%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.navigation img{
    width:20vw;
}

.navigation a{
    text-decoration: none;
    color: inherit;
}

header{
    color:white;   
}

#menu{
    list-style-type: none;
    margin:0;
    padding:0;
    letter-spacing:4px;
}

#meny li{
    margin: 10px;
}



/* Main Section */
main{
    background-color:lightblue;
    
}

.container,.row{
    border:2px solid grey;

}

.col-12{
    border:2px solid white;
    background-color: lightgrey;
}

footer{
    background-color: lightblue;
}